<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Voffer </title>

<!-- 大屏 -->
  </head>

  <body>
    <div class="jumbotron">
        <div class="container">
  <h1>Voffer
    <br><small>您的工作管家<small></h1>
  <p>提供专业定制化服务<br>建起您与企业的桥梁
  <br><small>还等什么马上进入<small></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">获得成功</a></p>
  </div>
</div>
<!-- 大屏-->


<div class="container1">
    <div class="row">
        <h2 class="section-title">我们帮您快速地找到适合工作</h2>
        <div class="col-xs-12 col-sm-6">

        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %><h2 class="advantage-title">试试换个姿势投简历</h2>
          <p class="lead"><a target="_blank" href="http://www.jianliheike.com/">简历黑客为您提供专业简历解决方案 </p>
          </div>

          <div class="col-xs-12 col-sm-6 ">

            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %><h2 class="advantage-title">试试换个姿势投简历</h2>
            <p class="lead"><a target="_blank" href="http://www.xinshengdaxue.com">全栈营为您提供全栈工程师培训 </p>
            </div>
          </div>
        </div>


<!-- 框图 -->





        </div>
      </div>
    </div>
  </div>

<!--  -->




</div>

  </body>
</html>
