<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Voffer</h1>
      <p class="slogan">
        <br>提供专业定制化服务的招聘求职网站
        希望通过这个网站，能搭建起求职者与企业联系桥梁。
        <br>

      </p>

    <p class="lead"><%= link_to("马上应征", admin_jobs_path, class: 'btn btn-danger' )%></p>

    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">成功不再是梦想</h2>
       <p class="lead"><a target="_blank" href="http://www.xinshengdaxue.com">全栈营为您提供全栈工程师培训 </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">试试换个姿势投简历</h2>
        <p class="lead"><a target="_blank" href="http://www.jianliheike.com/">简历黑客为您提供专业简历解决方案 </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">欢迎体验Voffer<br>专业定制服务</h2>
        <p class="lead"><a target="_blank" href="https://forum.qzy.camp/">更多资源点击进入</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
