

<footer class="text-center">
  <div class="footer-below">

      <p class="text-center"><a href="/#mypage" data-toggle="tooltip" title="Visit">Copyright  ©2017 Rails101
        <br>Design by KodyPan
      </p>
  </div>
</footer>
