<!-- End Google Tag Manager -->
<form method="get" action="https://www.google.com/search">
<div style="border:1px solid white; padding:4px;width:20em;">
<table border="0" align="center" cellpadding="0">
<tr><td>
<input type="text"   name="q" size="20" maxlength="255" value="" />
<input type="submit" value="搜索" /></td></tr>
<tr><td align="center" style="font-size:100%">
<input type="radio"  name="sitesearch"
value="admin_jobs_path" checked />Job Listing
<input type="radio"  name="sitesearch" value="" />Google
<br />
</td></tr></table>
</div>
</form>

<footer class="text-center">
  <div class="footer-below">

      <p class="text-center">Copyright  ©2017 Rails101
        <br>Design by KodyPan
      </p>
  </div>
</footer>
